<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    	http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context-4.2.xsd 
    	http://www.springframework.org/schema/aop 
    	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
    	http://www.springframework.org/schema/tx 
    	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


    <!-- 配置读取外部配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close" p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.url}" p:username="${jdbc.username}" p:password="${jdbc.password}" />
        
	<!-- sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:sqlMapConfig.xml" />
    </bean>
    
    <!-- mapper 扫描器 (如增加新的模块mapper,则使用,号隔开即可)-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描包路径，如果需要扫描多个包，中间使用半角逗号隔开 -->
        <property name="basePackage" value="com.hxht.org.mapper,com.hxht.map.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
    
    <!-- 实例化jdbcTemplate,同时注入数据源 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
        p:dataSource-ref="dataSource" />
    
    <!-- 配置事务管理器 -->
    <bean id="txManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 事务扫描开始(开启@Transactional) -->
    <tx:annotation-driven transaction-manager="txManager" />
    
	<bean id="clientFactoryBean" class="com.hxht.common.bean.EsClientFactroyBean">
    	<!-- <property name="clusterName" value="hxht"></property> -->
    	<property name="clusterName" value= "elasticsearch"></property>
    	<property name="hosts">
    		<list>
    			<value>192.168.100.157</value>
    			<!-- <value>192.168.100.151</value> -->
    			<!-- <value>192.168.0.62</value>
    			<value>192.168.0.63</value>
    			<value>192.168.0.64</value>
    			<value>192.168.0.65</value> -->
    		</list>
    	</property>
    </bean>
    <bean id="client" factory-bean="clientFactoryBean" factory-method="getEsClient" />
    <bean id="restClient" factory-bean="clientFactoryBean" factory-method="getRestClient" />
    <bean id="bloomFilter" class="com.hxht.common.bean.DataBloomFilter" scope="singleton">
        <property name="expectedInsertions">
        	<value>50000000</value>
        </property>
        <property name="fpp">
            <value>0.001F</value>
        </property>
    </bean>
    
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="defaultEncoding" value="utf-8"></property>
    	<property name="maxUploadSize" value="5242440"></property>
    </bean>
    
</beans>