@charset "UTF-8";
.pagination {
    display: inline-block;
    margin-left: 20%;
    text-align: center;
    zoom: 1;
    font: 14px/inherit "微软雅黑",sans-serif;
}

.pagination:before, .pagination:after {
    content: "";
    display: table;
}

.pagination:after {
    clear: both;
    overflow: hidden;
}

.pagination span {
    display: inline-block;
    margin: 0 3px;
    color: #4d6e86;
    padding: 0.5em 0.8em;
    line-height: inherit;
}

.pagination span.disabled {
    border: 1px solid #ccc;
    cursor: not-allowed;
    background: #fff;
    opacity: 0.65;
    line-height: inherit;
}

.pagination .active {
    display: inline-block;
    margin: 0 3px;
    padding: 0.5em 0.8em;
    line-height: inherit;
    background: #4d6e86;
    color: #fff;
    border: 1px solid #4d6e86;
}

.pagination a {
    display: inline-block;
    margin: 0 3px;
    border: 1px solid #ccc;
    color: #4d6e86;
    padding: 0.5em 0.8em;
}

.pagination a:hover, .pagination input.jump-ipt:hover{
    color: #4d6e86;
    background: #dae5ed;
    border: 1px solid #4d6e86;
}


.pagination a.jump-btn:hover{
    color: #fff;
    background: #4d6e86;
    border: 1px solid #4d6e86;
}
.now, .count {
    padding: 0 5px;
    color: #4d6e86;
}

.pagination input {
    width: 49px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.5em 0.8em;
    line-height: inherit;
}

.pagination span.page-info {
    margin: 0 0;
}

.pagination input.jump-ipt {
    margin: 0;
    background: #f9f9f9;
}

.pagination a.jump-btn {
    margin: 0;
    background: #dae5ed;
}

.pagination div {
    display: inline-block;
}
